{% load i18n %}
{% load allauth %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <div class="text-center">
        {% if not SOCIALACCOUNT_ONLY %}
            <h2 class="display-6 mb-4">
                Otras opciones de inicio de sesión
            </h2>
        {% endif %}
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        {% include "socialaccount/snippets/login_extra.html" %}
    </div>

{% endif %}
