{% extends "base.html" %}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}
<h1 class="display-3">Cajón de aplicaciones</h1>
<p>Bienvenido al cajón de aplicaciones. Aquí puedes encontrar todas las aplicaciones disponibles.</p>
<div class="row">
    <div class="col-12">
        <table class="table table-hover table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Nombre de la aplicación</th>
                    <th scope="col">Descripción</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle">
                    <td>Empresas</td>
                    <td>Administración y gestión de empresas</td>
                    <td><a href="{% url 'empresa_list' %}" class="btn btn-primary">Abrir</a></td>
                </tr>
                <tr class="align-middle">
                    <td>Sucursales</td>
                    <td>Administración y gestión de sucursales</td>
                    <td><a href="{% url 'sucursal_list' %}" class="btn btn-primary">Abrir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}