{% load unicorn %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% unicorn_scripts %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock titulo %}</title>
</head>
<body>
{% csrf_token %}
{% unicorn 'navbar' %}
<div class="container mt-2">
    {% block contenido %}

    {% endblock contenido %}
     {% if messages %}
            <div class="messages mt-2">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}
</div>
<script src="https://kit.fontawesome.com/f89f8ae43b.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>