{% extends "base.html" %}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}
    <!-- Estadisticas del Dashboard -->
    <div class="row text-center g-2">
        <div class="col-md-4">
            <div class="card text-bg-primary">
                <div class="card-body">
                    <p class="card-title h5">Empleados Registrados</p>
                    <p class="card-title display-5">{{ empleados_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-bg-warning">
                <div class="card-body">
                    <p class="card-title h5">Incidencias Pendientes</p>
                    <p class="card-title display-5">{{ incidencias_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-bg-success">
                <div class="card-body">
                    <p class="card-title h5">Usuarios Activos</p>
                    <p class="card-title display-5">{{ logged_in_users }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla de ultimas incidencias -->
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="display-5">Últimas Incidencias</h2>
            {% include 'componentes/incidencias.html' with incidencias=incidencias incidencias_count=incidencias_count %}
        </div>
    </div>
    <!-- Ver empleados por sucursal (banner "ir a mi sucursal" -->
    <div class="row mt-2 g-3">
        <div class="col-md-6">
            <div class="card text-bg-secondary">
                <div class="card-body text-center">
                    <h2 class="card-title">Empleados en {{ empleado.sucursal.nombre }}</h2>
                    <a href="{% url 'empleado_sucursal_list' %}" class="btn btn-light"><i class="fa-solid fa-store"></i>
                        Ir a mi sucursal</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-bg-secondary">
                <div class="card-body text-center">
                    <h2 class="card-title">Turno en {{ empleado.sucursal.nombre }} <span class="badge text-bg-danger">¡Nuevo!</span></h2>
                    <a href="{% url 'empleados_turnos_list' empleado.sucursal.id%}" class="btn btn-light"><i class="fa-solid fa-clock"></i>
                        Ir a mi horario</a>
                    <a href="{% url 'empleado_sucursal_list' %}" class="btn btn-light disabled"><i class="fa-solid fa-eye"></i>
                        Otros horarios</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}