{% extends 'base.html' %}
{% block titulo %}
    Historial de Incidencias
{% endblock titulo %}

{% block contenido %}
    <h2 class="display-4">Incidencias<br><strong>{{ empleado.postulante.usuario.get_full_name }}</strong></h2>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-hover table-striped table-bordered text-center table align-middle">
                <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Incidencia</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for incidencia in incidencias %}
                    <tr>
                        <td>{{ incidencia.fecha }}</td>
                        <td>{{ incidencia.tipo_incidencia.nombre }}</td>
                        <td>{% if incidencia.observaciones %} {{ incidencia.observaciones }} {% else %}
                            N/A{% endif %}</td>
                        <td>
                            {% if incidencia.estado_incidencia == 'PENDIENTE' %}
                                <span class="badge bg-secondary"><i class="fa-solid fa-hourglass-end"></i> En espera</span>
                            {% elif incidencia.estado_incidencia == 'APROBADA' %}
                                <span class="badge bg-success"><i class="fa-solid fa-circle-check"></i> Aceptada</span>
                            {% elif incidencia.estado_incidencia == 'RECHAZADA' %}
                                <span class="badge bg-danger"><i class="fa-solid fa-circle-minus"></i> Rechazada</span>
                            {% else %}
                                <span class="badge bg-warning">Desconocido</span>
                            {% endif %}
                        </td>
                        <td class="table-dark">
                            <div class="d-flex gap-2 justify-content-center">
                                <!-- Contenedor flex con espacio entre elementos -->
                                <form method="post"
                                      action="{% url 'estado-incidencia-update' incidencia.id %}"
                                      class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="estado" value="APROBADA">
                                    <button type="submit" class="btn btn-outline-success">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                    </button>
                                </form>
                                <form method="post"
                                      action="{% url 'estado-incidencia-update' incidencia.id %}"
                                      class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="estado" value="RECHAZADA">
                                    <button type="submit" class="btn btn-outline-danger">
                                        <i class="fa-solid fa-thumbs-down"></i>
                                    </button>
                                </form>
                                <a href="{% url 'incidencia-update' incidencia.id %}"
                                   class="d-inline btn btn-outline-warning"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay incidencias registradas.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido %}