{% extends "base.html" %}
{% block titulo %}
Puestos
{% endblock titulo %}
{% block contenido %}
<div class="row mt-3">
    <div class="col-12">
        <!-- Detalle de la empresa -->
        <div class="confirmation-delete">
            <h1 class="display-3">Confirmar eliminación</h1>
            <p>¿Estás seguro de que deseas eliminar el puesto "{{ puesto.nombre }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                <a href="{% url 'puesto_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}