{% extends "base.html" %}
{% block titulo %}Buscar Empleado{% endblock %}

{% block contenido %}
    <div class="container mt-4">
        {% if empleados %}
            <h2 class="mt-4">Resultados de la búsqueda</h2>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo Electrónico</th>
                </tr>
                </thead>
                <tbody>
                {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.id }}</td>
                        <td>{{ empleado.postulante.usuario.first_name }}</td>
                        <td>{{ empleado.postulante.usuario.last_name }}</td>
                        <td>{{ empleado.postulante.usuario.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No se encontraron resultados para tu búsqueda.</p>
        {% endif %}
    </div>
{% endblock %}