{% extends "base.html" %}
{% block titulo %}Buscar Empleado{% endblock %}

{% block contenido %}
    <h2 class="display-4 mt-4">Resultados de la búsqueda</h2>
    <div class="container mt-4">
        {% if empleados %}
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Completo</th>
                    <th>Sucursal</th>
                    <th>Correo Electrónico</th>
                </tr>
                </thead>
                <tbody>
                {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.id }}</td>
                        <td>{{ empleado.postulante.usuario.first_name }} {{ empleado.postulante.usuario.last_name }}</td>
                        <td>{{ empleado.sucursal }}</td>
                        <td>{{ empleado.postulante.usuario.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No se encontraron resultados.
            </div>
        {% endif %}
    </div>
{% endblock %}