{% extends 'base.html' %}

{% block titulo %}
    {{ empleado.postulante.usuario.first_name }}
{% endblock titulo %}

{% block contenido %}
    <div class="row g-3">
        <div class="col-12">
            <h1 class="display-4">
                {{ empleado.postulante.usuario.first_name }} {{ empleado.postulante.usuario.last_name }}
            </h1>
            <h4>
                {{ empleado.puesto.nombre }}
            </h4>
        </div>
        <div class="btn-group col-12 mb-2" role="group" aria-label="Acciones">
            <button type="button" class="btn btn-outline-secondary">
                <i class="fa-solid fa-pen-to-square me-1"></i> Editar Datos
            </button>
            <button type="button" class="btn btn-outline-primary">
                <i class="fa-solid fa-clock-rotate-left me-1"></i> Todas Incidencias
            </button>
            <button type="button" class="btn btn-outline-success">
                <i class="fa-solid fa-file-invoice-dollar me-1"></i> Generar Nómina
            </button>
        </div>
        <!-- Nueva incidencia / Incidencias actuales -->
        <div class="col-md-4">
            <!-- Nueva incidencia -->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Nueva Incidencia</h4>
                </div>
                <div class="card-body">
                    <!-- Formulario para registrar una nueva incidencia -->
                    <!-- Tipo de incidencia -->
                    <!-- Fecha -->
                    <!-- Observaciones -->
                    <!-- Botón para enviar -->
                    <form method="post" action="{% url 'empleado_detail' empleado.id %}" class="row g-2">
                        {% csrf_token %}
                        <select class="form-select" aria-label="Default select example" name="tipo_incidencia" required>
                            <option selected>Escoger una incidencia</option>
                            {% for tipos_incidencia in tipos_incidencias %}
                                <option value="{{ tipos_incidencia.id }}">{{ tipos_incidencia.nombre }}</option>
                            {% endfor %}
                        </select>
                        <input type="date" class="form-control" name="fecha" required>
                        <textarea class="form-control" name="observaciones" placeholder="Observaciones"></textarea>
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-arrow-up-from-bracket"></i>
                            Registrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Incidencias actuales -->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Historial de Incidencias</h4>
                </div>
                <div class="card-body">
                    <!-- Tabla de incidencias -->
                    <table class="table table-hover table-striped table-bordered text-center">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo de Incidencia</th>
                            <th>Detalles</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for incidencia in incidencias %}
                            <tr>
                                <td>{{ incidencia.fecha }}</td>
                                <td>{{ incidencia.tipo_incidencia }}</td>
                                <td>{{ incidencia.observaciones|default:"N/A" }}</td>
                                <td class="">
                                    <form method="post" action="{% url 'estado-incidencia-update' incidencia.id %}"
                                          style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="estado" value="APROBADA">
                                        <button type="submit" class="btn btn-outline-success"><i
                                                class="fa-solid fa-thumbs-up"></i>
                                        </button>
                                    </form>
                                    <form method="post" action="{% url 'estado-incidencia-update' incidencia.id %}"
                                          style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="estado" value="RECHAZADA">
                                        <button type="submit" class="btn btn-outline-danger"><i
                                                class="fa-solid fa-thumbs-down"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">No hay incidencias registradas.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
