{% extends "base.html" %}
{% block titulo %}
Empleados
{% endblock titulo %}
{% block contenido %}
<h1 class="display-3">
    Empleados
</h1>
<div class="row">
    <div class="col-12">
        <table class="table table-hover table-striped table-bordered text-center">
            <caption>
                <a href="{% url 'empleado_create' %}" class="btn btn-primary mb-2">
                    <i class="fa-solid fa-plus"></i> Nuevo Empleado
                </a>
            </caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Sueldo</th>
                    <th scope="col">Sucursal</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr class="align-middle">
                    <td>
                        {{ empleado.postulante.usuario.first_name }} {{ empleado.postulante.usuario.last_name }}
                    </td>
                    <td>{{ empleado.postulante.usuario.email }}</td>
                    <td>{{ empleado.puesto }}</td>
                    <td>${{ empleado.sueldo }}</td>
                    <td>{{ empleado.sucursal }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock contenido %}