{% extends 'base.html' %}

{% block titulo %}Empleados en {{ sucursal }}{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-12">
            <h2 class="display-4 mb-2">Empleados en {{ sucursal }}</h2>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo Electrónico</th>
                </tr>
                </thead>
                <tbody>
                {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.id }}</td>
                        <td>{{ empleado.postulante.usuario.first_name }}</td>
                        <td>{{ empleado.postulante.usuario.last_name }}</td>
                        <td>{{ empleado.postulante.usuario.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not empleados %}
                <p>No hay empleados en esta sucursal.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}